.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 15%;
  background-color: black;
  color: white;
}


.main-content {
  flex: 1;
  background-image: url("../src/images/background.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 20px; */
}

.Footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}


/* //////Side BAR/// */
.sidebar {
  position: sticky;
  top: 50px;
  margin-top: 30px;
  /* height: 90vh; */
  width: 15%; 
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: brown;  */
  overflow: hidden; 
}

@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }
}
